<div class="row">
    <div class="col-xs-48">
        <h3>{{moduleSettings.pageTitle}} № {{moduleSettings.itemID}}</h3>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <a href="#/{{moduleSettings.moduleName}}" class="btn btn-default btnBack"><i class="fa fa-angle-left"></i></a>
    </div>
</div><br />
<div class="row">
    <div class="col-xs-48">
        <div class="form-group">
            <label for="inputName">Заголовок</label>
            <input type="text" class="form-control" id="inputName" placeholder="Заголовок записи">
        </div>
        <div class="form-group">
            <label for="inputDescription">Текст</label>
            <textarea class="form-control" id="inputDescription" placeholder="Текст записи" rows="7"></textarea>
        </div>
        <div class="form-group">
            <label for="inputType">Тип записи</label>
            <select class="form-control" id="inputType"
                    ng-model="selectType"
                    ng-options="item.id as item.name for item in vm.item_type.items">
                <option value="">-- Выберите тип записи --</option>
            </select>
        </div>
    </div>
</div>