<div class="row">
    <div class="col-xs-48">
        <h3>{{moduleSettings.pageTitle}}</h3>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <a href="#/" class="btn btn-default btnBack"><i class="fa fa-angle-left"></i></a>
    </div>
</div>
<br />
<div class="row">
    <div class="col-xs-30 col-sm-12 pull-right">
        <div class="form-group">
            <input ng-model="search.$" type="text" class="form-control" placeholder="Быстрый поиск">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-48">
        {{vm.item.items[0].id}}
        <table class="table table-hover table-striped tableData">
            <thead>
                <tr>
                    <th style="width: 30px;"></th>
                    <th>Заголовок</th>
                    <th class="hidden-xs" style="width: 130px;">Обновлено</th>
                    <th class="hidden-xs" style="width: 50px;">ИД</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in vm.item.items | filter:search:strict">
                    <td>
                        <i ng-if="item.importance==0" class="fa fa-bookmark-o -grey" title="Обычная"></i>
                        <i ng-if="item.importance==1" class="fa fa-bookmark -orange-light" title="Важно"></i>
                        <i ng-if="item.importance==2" class="fa fa-bookmark -red" title="Срочно"></i>
                    </td>
                    <td>
                        <a href="#/{{moduleSettings.moduleName}}/{{ item.id }}/edit" style="font-size: 16px"><b>{{ item.name }}</b></a>
                        <p class="desc">{{ item.desc }}</p>
                        <div>
                            <button type="button" class="btn btn-default btn-xs"><i class="fa fa-check"></i> Выполнено</button>
                            <button type="button" class="btn btn-default btn-xs"><i class="fa fa-archive"></i> В архив</button>
                            <button type="button" class="btn btn-default btn-xs"><i class="fa fa-trash"></i> Удалить</button>
                        </div>
                    </td>
                    <td class="hidden-xs">{{item.date_create}}</td>
                    <td class="hidden-xs -text-color__aaa">{{ item.id }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>