<div class="row">
    <div class="col-xs-48">
        <h3>{{moduleSettings.pageTitle}}</h3>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <a href="#/notes" class="btn btn-default">Список записей</a>
    </div>
</div>
<br />
<div class="row">
    <div class="col-xs-48 col-sm-24">
        <h4><i class="fa fa-bookmark -red" title="Срочно"></i> Срочно <small><a href="#/">Все срочные записи</a></small></h4>
        <table class="table table-hover table-striped tableData">
            <thead>
                <tr>
                    <th>Заголовок</th>
                    <th class="hidden-xs" style="width: 130px;">Обновлено</th>
                    <th class="hidden-xs" style="width: 50px;">ИД</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in vm.item.items | filter:search:strict">
                    <td>
                        <a href="#/{{moduleSettings.moduleName}}/{{ item.id }}/edit" style="font-size: 16px"><b>{{ item.name }}</b></a>
                        <p class="desc">{{ item.desc }}</p>
                    </td>
                    <td class="hidden-xs">{{item.date_create}}</td>
                    <td class="hidden-xs">{{ item.id }}</td>
                </tr>
                <tr>
                    <td colspan="3"><h4 class="text-center responseEmptyTitle">Важных записей нет</h4></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-xs-48 col-sm-24">
        <h4><i class="fa fa-bookmark -orange-light" title="Важно"></i> Важно <small><a href="#/">Все важные записи</a></small></h4>
        <table class="table table-hover table-striped tableData">
            <thead>
                <tr>
                    <th>Заголовок</th>
                    <th class="hidden-xs" style="width: 130px;">Обновлено</th>
                    <th class="hidden-xs" style="width: 50px;">ИД</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in vm.item.items | filter:search:strict">
                    <td>
                        <a href="#/{{moduleSettings.moduleName}}/{{ item.id }}/edit" style="font-size: 16px"><b>{{ item.name }}</b></a>
                        <p class="desc">{{ item.desc }}</p>
                    </td>
                    <td class="hidden-xs">{{item.date_create}}</td>
                    <td class="hidden-xs">{{ item.id }}</td>
                </tr>
                <tr>
                    <td colspan="3"><h4 class="text-center responseEmptyTitle">Важных записей нет</h4></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>